## Scrapping Fairlabor website

In [ ]:


from lxml import html
import requests
base_link = "https://www.fairlabor.org/affiliates/participating-companies?page="
brandsLink = []
for i in range(0,5):
    page = requests.get(base_link+str(i))
    tree = html.fromstring(page.content)
    brandsLink.append(tree.xpath('//div[@class="field-content"]//a//@href'))
print(brandsLink)

In [80]:
import itertools
finalBrands_link = []
brandsLink= list(itertools.chain.from_iterable(brandsLink)) #Convert list of lists to one list
for i in range(len(brandsLink)): # get list of companies
    if("/affiliate/" in brandsLink[i]):
        finalBrands_link.append(brandsLink[i].split("/affiliate/",1)[1])
print(finalBrands_link)

['adidas', 'amer-sports', 'antigua-group-inc', 'arena-group', 'barnes-noble-college-booksellers', 'bella-canvas', 'burton', 'colosseum', 'cutter-buck-inc', 'fall-rush', 'fanatics', 'fast-retailing', 'fenix-outdoor', 'fgv-holdings', 'follett-higher-education-group', 'forty-seven-brand', 'fruit-loom', 'gildan-activewear-inc', 'gore-wear', 'gymshark', 'hanesbrands', 'hugo-boss', 'hybrid-apparel', 'j-america-inc', 'kathmandu', 'l2-brands', 'lakeshirts-inc', 'lululemon', 'mountain-equipment-co-op', 'mv-sport-game-inc', 'nestle', 'new-balance-athletics-inc', 'new-era-cap-co-inc', 'nike-inc', 'olam', 'outerknown', 'outerstuff-ltd', 'patagonia', 'popsockets', 'prana', 'puma-se', 'sanmar-corporation', 'sitka-group', 'gore-wear', 'syngenta', 'soliver-group', 'toms-shoes', 'top-world-llc', 'under-armour', 'volcom-llc', 'zephyr-graf-x']

In [86]:
#Save CSV file
import pandas as pd
df = pd.DataFrame(finalBrands_link)  
df.to_csv('/home/nesma/Desktop/Hackathon/FairLabourAssociation.csv')

## Fair Trade Website

In [306]:
from lxml import html
import requests
page = requests.get("https://wfto-europe.org/our-members-by-type/")
tree = html.fromstring(page.content)
FairTradelist = tree.xpath('//p//span//text()')
print(FairTradelist)

['AlchemiA', 'Altromercato Impresa Sociale Soc. Coop.', 'Amandla', 'Au-delà des Frontières', '\xa0BHcrafts doo', 'Bouga CacaO', 'Cha Dô Teehandels GmbH', 'Chotanagpurgruppe –\xa0Faire Handelsgesellschaft mbh', 'CTM Agrofair Italy', 'Dardenne ', 'Ecoffins', 'egos Copenhagen', 'Elecosy bvba', 'El\xa0Puente', 'El Tucan', 'Elvang Denmark A/S', 'Én Gry & Sif', '\n', 'Esperanza Café', 'EZA Fairer Handel GmbH', 'Fairforward', '\n', 'FairMail Cards', '\n', '\xa0', 'Fair Monkey ekonomisk förening', '\n', 'Fair Trade Scotland Limited', 'Fundación COPADE España', 'Gebana', '\n', 'GEPA Fair Trade Company', '\n', 'GLOBO Fair Trade Partner GmbH', 'Greater Goods Limited', 'Initiativas de Economia Alternativa y Solidaria (IDEAS)', '\n', 'Island Spirit', '\n', 'Just Trading Scotland', 'Karethic\xa0(Terrethic)', 'Les Jardins de Gaïa', 'Les Mouettes Vertes', 'Malongo', 'Mifuko', 'Ojoba Collective', 'Oxfam\xa0Intermón', '\n', '\xa0', 'Oxfam-Magasins du Monde', 'Paigh', 'People Tree', 'The Polish Fair Trade Association', 'Re-Wrap Association', 'Sackeus\xa0AB', 'Sarana', '\xa0S.C Networks Trading Srl', 'See Me', '\n', 'Seepje', '\n', '\xa0', 'Shared Earth', '\n', '\xa0', 'Simbólica\xa0', 'Fair Trade', 'Solidar’Monde', 'Tahoua Import', 'Tampereen Kehitysmaakauppa', 'Textielwerkplaats Sari V.O.F.', 'The Fair Trade Furniture', '\n', 'The House of Fair Trade', '\nTraidcraft PLC', '\n', '\xa0', 'Tropical Mountains', 'U-landsforeningen Svalerne', 'Weltpartner eG', 'Zotter Schokoladen Manufaktur', 'Alice Cooperativa Sociale', 'Artisan Life', 'Esgii', '\n', 'FAIR', '\n', 'Fair Moms', '\n', 'Fair-NETZ (Netzwerk regionaler Fair-Handelszentren e.V)', '\n', 'Fundacion Adsis – EquiM', 'ercado', '\n', 'Fundación Isabel Martín', '\n', 'Heidelberger Partnerschaftskaffee', '\n', 'Kanika', 'Mayamiko', 'Mekhada', 'Mitka', 'Nepalaya', 'Nyuzi BlackWhite', 'Öko', 'topia Handels', 'Oxfam Wereldwinkels', 'Secret Pillow Project Ltd', '\n', 'Siyabonga', 'Sjaal met Verhaal', 'Syn Allois', 'Szczypta Świata', 'Tatico', 'Zimba Arts', '\xa0', 'ARGE Weltläden', 'Associazione Botteghe del Mondo', 'British Association of Fair Trade Shops (BAFTS)', 'Belgian Fair Trade Federation', 'Commerce Équitable France (CEF)', 'Coordinadora Estatal de Comercio Justo (CECJ)', 'Equo Garantito', 'European Fair Trade Association (EFTA)', 'Fair-Band', 'Fairtrade Czech Republic and Slovakia', 'Fair Trade Danmark', 'Fédération Artisans du Monde', 'The Finnish Association of Worldshops', 'Forum Fairer Handel e.V.', 'Scottish Fair Trade Forum', 'Shared Interest Society Limited', 'The Organisation of Swedish Fair Trade Retailers', 'Traidcraft Exchange', 'Weltladen-Dachverband e.V.', 'Fair Trade Advocacy Office', 'International Federation of Organic Agriculture Movements (IFOAM)', 'IMPI Sandals']

In [314]:
FairTradelist = [el.replace('\xa0','') for el in FairTradelist]
FairTradelist = [el.replace('\n','') for el in FairTradelist]
FairTradelist = list(filter(None, FairTradelist))
print(FairTradelist)

['AlchemiA', 'Altromercato Impresa Sociale Soc. Coop.', 'Amandla', 'Au-delà des Frontières', 'BHcrafts doo', 'Bouga CacaO', 'Cha Dô Teehandels GmbH', 'Chotanagpurgruppe –Faire Handelsgesellschaft mbh', 'CTM Agrofair Italy', 'Dardenne ', 'Ecoffins', 'egos Copenhagen', 'Elecosy bvba', 'ElPuente', 'El Tucan', 'Elvang Denmark A/S', 'Én Gry & Sif', 'Esperanza Café', 'EZA Fairer Handel GmbH', 'Fairforward', 'FairMail Cards', 'Fair Monkey ekonomisk förening', 'Fair Trade Scotland Limited', 'Fundación COPADE España', 'Gebana', 'GEPA Fair Trade Company', 'GLOBO Fair Trade Partner GmbH', 'Greater Goods Limited', 'Initiativas de Economia Alternativa y Solidaria (IDEAS)', 'Island Spirit', 'Just Trading Scotland', 'Karethic(Terrethic)', 'Les Jardins de Gaïa', 'Les Mouettes Vertes', 'Malongo', 'Mifuko', 'Ojoba Collective', 'OxfamIntermón', 'Oxfam-Magasins du Monde', 'Paigh', 'People Tree', 'The Polish Fair Trade Association', 'Re-Wrap Association', 'SackeusAB', 'Sarana', 'S.C Networks Trading Srl', 'See Me', 'Seepje', 'Shared Earth', 'Simbólica', 'Fair Trade', 'Solidar’Monde', 'Tahoua Import', 'Tampereen Kehitysmaakauppa', 'Textielwerkplaats Sari V.O.F.', 'The Fair Trade Furniture', 'The House of Fair Trade', 'Traidcraft PLC', 'Tropical Mountains', 'U-landsforeningen Svalerne', 'Weltpartner eG', 'Zotter Schokoladen Manufaktur', 'Alice Cooperativa Sociale', 'Artisan Life', 'Esgii', 'FAIR', 'Fair Moms', 'Fair-NETZ (Netzwerk regionaler Fair-Handelszentren e.V)', 'Fundacion Adsis – EquiM', 'ercado', 'Fundación Isabel Martín', 'Heidelberger Partnerschaftskaffee', 'Kanika', 'Mayamiko', 'Mekhada', 'Mitka', 'Nepalaya', 'Nyuzi BlackWhite', 'Öko', 'topia Handels', 'Oxfam Wereldwinkels', 'Secret Pillow Project Ltd', 'Siyabonga', 'Sjaal met Verhaal', 'Syn Allois', 'Szczypta Świata', 'Tatico', 'Zimba Arts', 'ARGE Weltläden', 'Associazione Botteghe del Mondo', 'British Association of Fair Trade Shops (BAFTS)', 'Belgian Fair Trade Federation', 'Commerce Équitable France (CEF)', 'Coordinadora Estatal de Comercio Justo (CECJ)', 'Equo Garantito', 'European Fair Trade Association (EFTA)', 'Fair-Band', 'Fairtrade Czech Republic and Slovakia', 'Fair Trade Danmark', 'Fédération Artisans du Monde', 'The Finnish Association of Worldshops', 'Forum Fairer Handel e.V.', 'Scottish Fair Trade Forum', 'Shared Interest Society Limited', 'The Organisation of Swedish Fair Trade Retailers', 'Traidcraft Exchange', 'Weltladen-Dachverband e.V.', 'Fair Trade Advocacy Office', 'International Federation of Organic Agriculture Movements (IFOAM)', 'IMPI Sandals']

In [315]:
import pandas as pd
df = pd.DataFrame(FairTradelist)  
df.to_csv('/home/nesma/Desktop/Hackathon/FairTrade.csv')

## Get list of bluesign companies from pdf to excel sheet

In [395]:
import tabula
import os
file = "/home/nesma/Desktop/Hackathon/bluesign-reference-list-total.pdf"
tabula.convert_into(file, "bluesign.csv", output_format="csv", pages=[1,2])

## Scrape fashionpact website

In [118]:
from lxml import html
import requests
page = requests.get("https://thefashionpact.org/?lang=en")
tree = html.fromstring(page.content)
fashion_pact = tree.xpath('//ul[@class="list_profil"]//li//text()')
print(fashion_pact)

['ADIDAS', 'AIGLE', 'ALDO GROUP', 'ASICS', 'AUCHAN RETAIL', 'BALLY', 'BESSON CHAUSSURES', 'BESTSELLER', 'BONAVERI', 'BURBERRY', 'CALZEDONIA GROUP', 'CAPRI HOLDINGS LIMITED', 'CARREFOUR', 'CHANEL', 'CHLOE', 'CELIO', 'DAMARTEX GROUP', 'DCM JENNYFER', 'DECATHLON', 'DESIGUAL', 'DIESEL', 'EL CORTE INGLES', 'ERALDA', 'ERMENEGILDO ZEGNA', 'EVERYBODY & EVERYONE', 'FARFETCH', 'FASHION3', 'FUNG GROUP', 'GANT', 'GROUPE GALERIES LAFAYETTE', 'GAP Inc.', 'GEOX', 'GROUPE BEAUMANOIR', 'GROUPE ERAM', 'GROUPE ETAM', 'GROUPE IDKIDS', 'GROUPE ROSSIGNOL', 'GRUPPO ARMANI', 'HANS BOODT MANNEQUINS', 'H&M GROUP', 'HERMES', 'HERNO', 'HOUSE OF BAUKJEN', 'INDITEX', 'KARL LAGERFELD', 'KERING', 'KIABI', 'LACOSTE', 'MANGO', 'MATCHESFASHION.COM', 'MONCLER', 'MONOPRIX', 'NIKE', 'NOABRANDS', 'NORDSTROM', 'PAUL & JOE', 'PRADA S.p.A.', 'PROMOD', 'PUMA SE', 'PVH Corp.', 'RALPH LAUREN', 'RUYI', 'SALVATORE FERRAGAMO', 'SELFRIDGES GROUP', 'STELLA MCCARTNEY', 'TAPESTRY', 'TENDAM']

In [119]:
#Save CSV file
import pandas as pd
df = pd.DataFrame(fashion_pact)  
df.to_csv('/home/nesma/Desktop/Hackathon/fashionPact.csv')

## Scrape Climate initiatieves platform

In [204]:
from lxml import html
import requests
fashion_pact = []
page = requests.get("http://climateinitiativesplatform.org/index.php/Fashion_Industry_Charter_for_Climate_Action")
tree = html.fromstring(page.content)
climate_initiatives = tree.xpath('//tr[3]//td[3]//text()')
print(climate_initiatives)

[" Adidas AG (Germany),Aquitex S.A. (Portugal),Arc'teryx (Canada),Burberry (United Kingdom of Great Britain and Northern Ireland),Esprit (Germany),Gap Inc. (United States of America),Guess?,Inc. (United States of America),Hakro GmbH (Germany),H&M group (Sweden),Hugo Boss AG (Germany),Inditex (Spain),Kering Group  (France),Lenzing AG (Austria),Levi Strauss & Co (United States of America),A. P. Møller-Mærsk A/S (Denmark),Mammut sports Group AG (Switzerland),Mantis World (United Kingdom of Great Britain and Northern Ireland),Otto Group  (Germany),Peak Performance Production AB (Sweden),PVH Corp (United States of America),PIDIGI S.P.A. (Italy),PUMA SE (Germany),Re:newcell AB (Sweden),Salomon (France),Schoeller Texti AG (Switzerland),SKFK-Skunkfunk (Spain),SLN Tekstil ve Moda San. Tic. A.Ş  (Turkey),Stella McCartney (United Kingdom of Great Britain and Northern Ireland),Sympatex Technologies GmbH (Germany),Target Corporation (United States of America),Tropic Knits Ltd (Mauritius),Evea Eco Fashion (Peru),LIMY Inc dba Reformation (United States of America),DBL Group (Bangladesh),Worn Again (United Kingdom of Great Britain and Northern Ireland),BerBrand Srl (Italy),Denim Expert  Limited (Bangladesh),Textil Santanderina,S.A. (Spain),COFREET (France),VF Corporation (United States of America),GANNI (Denmark),GANT AB (Sweden),Regatta Group (United Kingdom of Great Britain and Northern Ireland),New Balance Athletics,Inc. (United States of America),TINTEX Textiles,S.A. (Portugal),Vivida Lifestyle Ltd (United Kingdom of Great Britain and Northern Ireland),NIKE,Inc (United States of America),The RealReal (United States of America),Fenix Outdoor International AG (Switzerland),Pattern SpA. (Italy),DECATHLON (France),Circular Systems SPC (United States of America),Loomstate (United States of America),G-Star RAW C.V. (Netherlands),Hansoll Textile Ltd. (Republic of Korea),KiK Textilien und Non-Food GmbH  (Germany),John Smedley Ltd (United Kingdom of Great Britain and Northern Ireland),Anko (Australia),Target Australia (Australia),Kmart Australia Limited (Australia),ASICS Corporation (Japan),El Corte Inglés,SA. (Spain),Farfetch (United Kingdom of Great Britain and Northern Ireland),Lever Style Inc.  (China),Hop Lun (Hong Kong) Ltd.  (Hong Kong,China),CAPRANEA SPORTS AG  (Switzerland),Hong Kong Non-Woven Fabric Ind. Co. Ltd.  (Hong Kong,China),American & Efird (HK) Ltd. (Hong Kong,China),Clover Group International Ltd (Hong Kong,China),Hanbo Enterprises Ltd. (Hong Kong,China),Pinneco Research Ltd. (Hong Kong,China),TAL Apparel Ltd. (Hong Kong,China),K-Boxing  (China),Chenfeng Group Co.,Ltd (China),The Schneider Group (Italy),RT Knits Ltd  (Mauritius),The Renewal Workshop (United States of America),ALDO Group  (Canada),Lojas Renner (Brazil),Ralph Lauren (United States of America),Mulberry (United Kingdom of Great Britain and Northern Ireland),Shokay (China),Groupe Rossignol (France),Elevate Textiles (United States of America),Craghoppers Ltd (United Kingdom of Great Britain and Northern Ireland),Reserva (Brazil),American Eagle Outfitters (United States of America),CHANEL (France),Fast Retailing  (Japan),Fossil Group  (Hong Kong,China),LT.BO srl (Italy),YKK Corporation  (Japan),Tendam Global Fashion Retail  (Spain),Workout Empire (Sweden),SunRise Group (China),Tchibo GmbH (Germany),Tom Tailor Group (Germany),Sateri (China),Asia Pacific Rayon (Singapore),Lululemon (Canada),R-Collective (Hong Kong),Aigle (France),Dai Wear (United Kingdom),Artistic Milliners (Pakistan)\n"]

In [205]:
#clean data 
climate_initiativesdf = pd.DataFrame(climate_initiatives[0].split(",")) 
climate_initiativesdf.columns= ["all"]

climate_initiativesdf[['Company','Country']] = climate_initiativesdf["all"].str.split("(",1,expand=True) 
climate_initiativesdf= climate_initiativesdf.drop('all', 1)
climate_initiativesdf["Country"] = climate_initiativesdf["Country"].str.split(')',1,expand=True)[0]
climate_initiativesdf

                 Company                                            Country
0             Adidas AG                                             Germany
1          Aquitex S.A.                                            Portugal
2             Arc'teryx                                              Canada
3              Burberry   United Kingdom of Great Britain and Northern I...
4                Esprit                                             Germany
..                   ...                                                ...
114           Lululemon                                              Canada
115        R-Collective                                           Hong Kong
116               Aigle                                              France
117            Dai Wear                                      United Kingdom
118  Artistic Milliners                                            Pakistan

[119 rows x 2 columns]

In [206]:
climate_initiativesdf.to_csv("/home/nesma/Desktop/Hackathon/ClimateInitiatieves.csv")

## Leather working website scrapaing

In [398]:
from lxml import html
import requests
base_link = "https://www.leatherworkinggroup.com/join-us/our-members?t=Brands&page="
members = []
for i in range(1,6):
    page = requests.get(base_link+str(i))
    tree = html.fromstring(page.content)
    members.append(tree.xpath('//a[@target="_blank"]//div//text()'))
print(members)

[['About You GmbH', 'Acne Studios', 'adidas-group', 'Ahlens AB', 'Air & Grace', 'Airwair International Limited', 'ALDI Nord', 'ALDI SÃ\x9cD', 'ALDO Group International AG', 'Amalfi Belts SRL', 'AQC', 'Ariat International Inc', 'Asics Corporation', 'asos', 'Aspinal of London ', 'ATLAS-Schuhfabrik GmbH & Co', 'Axel Arigato AB', 'BA&SH', 'Bared Trading Pty Ltd', 'Bellroy Pty Ltd', 'Bestpol Sp Zo.o', 'Bevaform Service & Handels GmbH', 'Blue Star ', 'Blundstone Australia Pty Ltd', 'BPS Overseas (P) Ltd', 'Braloba Group', 'Brand Collective Australia', 'Bronx Fashion B.V', 'Burberry', 'BY MALENE BIRGER A/S', 'Caleres', 'Calvin Klein', 'Camper (Biniaraix Manufacturing S.L.)', 'Capri Holdings Ltd.', 'Castelijn & Beerens BV', 'Chloe'], ['Clarks International Limited', 'CLIC!', 'Coingasa', 'Cole Haan ', 'Collections International ', 'Country Road Group', 'CUE Clothing Co.', 'Decjuba Pty Ltd', 'Deckers Outdoor Corporation', 'Deichmann SE', 'DEMOD DERI KONFEKSIYON LTD. STI.', 'Design Nave Co.', 'DK Company A/S ', 'Eileen Fisher', 'Ekornes AS', 'FatFace', 'Florsheim Shoes', 'Fossil Group', 'Gabriela Hearst', 'Gant AB', 'Gebra Nonfood Handels GmbH & Co Kg', 'Georg A.Steinmann GmbH Co.KG', 'GEOX SpA', 'Greylab Footwear BV', 'GROUPE ERAM', 'Haglofs Scandinavia AB', 'Hestra', 'Hirsch ArmbÃ¤nder GmbH', 'HOFF BRAND, S.L ', 'Hotter', 'Hugo Boss AG', 'Hultafors Group AB', 'Hush Homewear Ltd', 'I.C.D.A', 'IC Group A/S', 'IKEA'], ['IKKS Group SAS', 'Inditex S.A.', 'J Barbour and Sons Ltd', 'J Crew Group Inc ', 'J P Boden & Co Ltd', 'Jacobson Group', 'John Lewis Plc', 'Joules Ltd', 'Kamik', 'Kathmandu Limited', 'KEEN, Inc.', 'Kingfisher International Products Limited ', 'Kwun Kee Leather Watch Straps Mfy. Ltd.', 'La Redoute', 'Lapelle SRL', 'Last Studio', 'Leonhard Heyden', 'Les Deux Aps', 'LIDL Stiftung & Co KG', 'Longchamp', 'LVMH - Moet Hennessy Louis Vuitton', 'Maisons Du Monde', 'Malone Souliers (World Wide Shoes LLP)', "Marc O'Polo AG", 'Marine Leather (Margu S.R.L)', 'Markberg ApS', 'Marks & Spencer plc', 'Micro Verkoop B.V (Micro Fashion) ', 'Minelli', 'Mulberry Company (Design) Ltd', 'New Balance Athletics, Inc.', 'Next Retail Ltd ', 'NIKE Inc', 'Nunn Bush', 'Orjin Deri Konfeksiyon San Ve Tic A.S', 'Panama Jack SLU'], ['Pellami Due C SpA', 'Pentland Brands plc', 'Pieles Quintana S.A', 'Pikolinos Intercontinental, S.A', 'Primark', 'Puma SE', 'Quimser SA', 'Ralph Lauren Corporation', 'RE. PI. CO S.p.A', 'Ricosta Schuhfabriken GmbH', 'Royal RepubliQ- RepubliQ ApS', 'SamsÃ\x98e SamsÃ\x98e', 'Seasalt Limited', 'Sezane ', 'SHG Schuster Handelsgesellschaft mbH & CO KG', 'Simon Li Furniture', 'Smaak Retail BV ', 'SSS Silva Santos & Silva Lda', 'Stacy Adams Shoe Company', 'Sued Mod Dericilik San. Ve Tic. Ltd. Sti.', 'Tapestry Inc', 'Target Corporation', 'Ted Baker PLC', 'The Iconic', 'The Rockport Group', 'The Sak', 'Tiger of Sweden', 'Timberland LLC', 'Tommy Hilfiger', 'TOMS Shoes, LLC', 'Toral', 'Tory Burch', 'TOUS & TOUS COMPLEMENTS SLU', 'Under Armour ', 'Vagabond Shoemakers', 'VBL Innovations Pvt. Limited'], ['VEJA Fair Trade S.A.R.L', 'Veronika Maine ', 'VF Corporation', 'VIZYON LEATHERWEAR', 'VSP', 'WE Europe BV', 'WHL', 'Williams-Sonoma Inc', 'Wittner', 'Wolverine World Wide Inc', 'Woolworths', 'Wortmann Schuh-Holding KG', 'Zalando SE']]

In [399]:
members= list(itertools.chain.from_iterable(members)) #Convert list of lists to one list
# #Save CSV file
df = pd.DataFrame(members)  
df.to_csv('/home/nesma/Desktop/Hackathon/LeatherWorkingGroup.csv')

## Merge Datasets

In [602]:
BcorpDF = pd.read_csv("/home/nesma/Desktop/Hackathon/BCorpImpactData.csv")
BcorpDF.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001k8qh3IAA,Danone Specialized Nutrition (Mellin SpA and N...,2020-07-14,2020-07-14,certified,Dedicated to bringing health through food to a...,Food & Beverage,Consumer Products & Services,Baby food and medical nutrition,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,0013b00001o4i9dAAA,Principled Investing LLC,2020-01-10,2020-01-10,certified,Financial Planning & Investment Management wit...,Investment Advisor,Financial Services,SRI/ESG & Impact focused Financial Planning & ...,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,0013b00001nEaiMAAS,Vandejong Creative Agency,2019-08-15,2019-08-15,certified,"As a socially involved creative agency, Vandej...",IT Software & Services/Web Design,Business Products & Services,"Brandconcepts, Campaigns, Innovation tracks, D...",Netherlands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,001C000001eXlvhIAC,"One Better Ventures II, LLC",2019-01-24,2019-01-24,certified,"One Better Ventures advises, invests in, and i...",Management and Financial Consulting,Business Products & Services,Consulting,United States,...,NaN,NaN,1.4,NaN,0.9,NaN,NaN,2.6,NaN,1.0
4,0013b00001nEtVuAAK,Blue Tit,2020-03-05,2020-03-05,certified,Blue Tit is a collective of individual lifesty...,Home & Personal Care,Consumer Products & Services,Hairdressing Salon Collective,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [603]:
BcorpDF = BcorpDF.loc[BcorpDF['industry'] == "Apparel, Footwear & Accessories"]
BcorpDF.reset_index(drop=True, inplace=True)
BcorpDF = BcorpDF[["company_name","overall_score"]]
BcorpDF = BcorpDF.rename(columns={"overall_score": "BcorporationScore"})
BcorpDF.reset_index(drop=True, inplace=True)
BcorpDF.head()

           company_name  BcorporationScore
0  Synergy Clothing Inc               82.4
1        Frank & Eileen               97.5
2        Allbirds, Inc.               89.4
3        Allbirds, Inc.               81.9
4                Bixbee               81.5

In [604]:
BcorpDF = BcorpDF.drop_duplicates(subset='company_name', keep="first")
BcorpDF.reset_index(drop=True, inplace=True)
BcorpDF

             company_name  BcorporationScore
0    Synergy Clothing Inc               82.4
1          Frank & Eileen               97.5
2          Allbirds, Inc.               89.4
3                  Bixbee               81.5
4           Solmate Socks               91.8
..                    ...                ...
180     Threads 4 Thought               92.7
181    Little Bean Sprout              119.5
182    Lateral Line, Inc.               85.8
183         Feelgoodz LLC               80.1
184   SUCCESSORI REDA SPA               80.2

[185 rows x 2 columns]

In [605]:
ClimateInitiatievesDF = pd.read_csv("/home/nesma/Desktop/Hackathon/ClimateInitiatieves.csv")
ClimateInitiatievesDF.head()

,Unnamed: 0,Company,Country
0,0,Adidas AG,Germany
1,1,Aquitex S.A.,Portugal
2,2,Arc'teryx,Canada
3,3,Burberry,United Kingdom of Great Britain and Northern I...
4,4,Esprit,Germany

In [606]:
ClimateInitiatievesDF = ClimateInitiatievesDF.drop(["Unnamed: 0","Country"],1)
ClimateInitiatievesDF = ClimateInitiatievesDF.rename(columns={"Company": "company_name"})
ClimateInitiatievesDF["Climate"] = 1
ClimateInitiatievesDF.head()

    company_name  Climate
0     Adidas AG         1
1  Aquitex S.A.         1
2     Arc'teryx         1
3      Burberry         1
4        Esprit         1

In [607]:
Dotty_df = pd.merge(BcorpDF,ClimateInitiatievesDF,how='outer', on='company_name')
Dotty_df

             company_name  BcorporationScore  Climate
0    Synergy Clothing Inc               82.4      NaN
1          Frank & Eileen               97.5      NaN
2          Allbirds, Inc.               89.4      NaN
3                  Bixbee               81.5      NaN
4           Solmate Socks               91.8      NaN
..                    ...                ...      ...
299            Lululemon                 NaN      1.0
300         R-Collective                 NaN      1.0
301                Aigle                 NaN      1.0
302             Dai Wear                 NaN      1.0
303   Artistic Milliners                 NaN      1.0

[304 rows x 3 columns]

In [608]:
FairLabourDF = pd.read_csv("/home/nesma/Desktop/Hackathon/FairLabourAssociation.csv")
FairLabourDF.head()

   Unnamed: 0                                 0
0           0                            adidas
1           1                       amer-sports
2           2                 antigua-group-inc
3           3                       arena-group
4           4  barnes-noble-college-booksellers

In [609]:
FairLabourDF = FairLabourDF.drop(["Unnamed: 0"],1)
FairLabourDF = FairLabourDF.rename(columns={"0": "company_name"})
FairLabourDF["FairLabour"] = 1
FairLabourDF.head()

                       company_name  FairLabour
0                            adidas           1
1                       amer-sports           1
2                 antigua-group-inc           1
3                       arena-group           1
4  barnes-noble-college-booksellers           1

In [610]:
Dotty_df = pd.merge(Dotty_df,FairLabourDF,how='outer', on='company_name')
Dotty_df

             company_name  BcorporationScore  Climate  FairLabour
0    Synergy Clothing Inc               82.4      NaN         NaN
1          Frank & Eileen               97.5      NaN         NaN
2          Allbirds, Inc.               89.4      NaN         NaN
3                  Bixbee               81.5      NaN         NaN
4           Solmate Socks               91.8      NaN         NaN
..                    ...                ...      ...         ...
350            toms-shoes                NaN      NaN         1.0
351         top-world-llc                NaN      NaN         1.0
352          under-armour                NaN      NaN         1.0
353            volcom-llc                NaN      NaN         1.0
354         zephyr-graf-x                NaN      NaN         1.0

[355 rows x 4 columns]

In [611]:
FairTradeDF = pd.read_csv("/home/nesma/Desktop/Hackathon/FairTrade.csv")
FairTradeDF.head()

   Unnamed: 0                                        0
0           0                                 AlchemiA
1           1  Altromercato Impresa Sociale Soc. Coop.
2           2                                  Amandla
3           3                   Au-delà des Frontières
4           4                             BHcrafts doo

In [612]:
FairTradeDF = FairTradeDF.drop(["Unnamed: 0"],1)
FairTradeDF = FairTradeDF.rename(columns={"0": "company_name"})
FairTradeDF["FairTrade"] = 1
FairTradeDF.head()

                              company_name  FairTrade
0                                 AlchemiA          1
1  Altromercato Impresa Sociale Soc. Coop.          1
2                                  Amandla          1
3                   Au-delà des Frontières          1
4                             BHcrafts doo          1

In [613]:
Dotty_df = pd.merge(Dotty_df,FairTradeDF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN
...,...,...,...,...,...
460,Traidcraft Exchange,NaN,NaN,NaN,1.0
461,Weltladen-Dachverband e.V.,NaN,NaN,NaN,1.0
462,Fair Trade Advocacy Office,NaN,NaN,NaN,1.0
463,International Federation of Organic Agricultur...,NaN,NaN,NaN,1.0
464,IMPI Sandals,NaN,NaN,NaN,1.0

In [614]:
LeatherDF = pd.read_csv("/home/nesma/Desktop/Hackathon/LeatherWorkingGroup.csv")
LeatherDF.head()

   Unnamed: 0               0
0           0  About You GmbH
1           1    Acne Studios
2           2    adidas-group
3           3       Ahlens AB
4           4     Air & Grace

In [615]:
LeatherDF = LeatherDF.drop(["Unnamed: 0"],1)
LeatherDF = LeatherDF.rename(columns={"0": "company_name"})
LeatherDF["Leather_working"] = 1
LeatherDF.head()

     company_name  Leather_working
0  About You GmbH                1
1    Acne Studios                1
2    adidas-group                1
3       Ahlens AB                1
4     Air & Grace                1

In [616]:
Dotty_df = pd.merge(Dotty_df,LeatherDF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
617,Wittner,NaN,NaN,NaN,NaN,1.0
618,Wolverine World Wide Inc,NaN,NaN,NaN,NaN,1.0
619,Woolworths,NaN,NaN,NaN,NaN,1.0
620,Wortmann Schuh-Holding KG,NaN,NaN,NaN,NaN,1.0
621,Zalando SE,NaN,NaN,NaN,NaN,1.0

In [617]:
bluesignDF = pd.read_csv("/home/nesma/Desktop/Hackathon/bluesign.csv")
bluesignDF.head()

                   Company Name  Country
0                        adidas  Germany
1      Altitude Collection, LLC      USA
2  Amer Sports Sourcing Limited  Finland
3      Arc'teryx Equipment Inc.   Canada
4                        Armada      USA

In [618]:
bluesignDF = bluesignDF.drop(["Country"],1)
bluesignDF = bluesignDF.rename(columns={"Company Name": "company_name"})
bluesignDF["bluesign"] = 1
bluesignDF.head()

                   company_name  bluesign
0                        adidas         1
1      Altitude Collection, LLC         1
2  Amer Sports Sourcing Limited         1
3      Arc'teryx Equipment Inc.         1
4                        Armada         1

In [619]:
Dotty_df = pd.merge(Dotty_df,bluesignDF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
696,The North Face Inc.,NaN,NaN,NaN,NaN,NaN,1.0
697,Thule Group,NaN,NaN,NaN,NaN,NaN,1.0
698,VAUDE Sport GmbH & Co. KG,NaN,NaN,NaN,NaN,NaN,1.0
699,Wilson Sporting Goods Co.,NaN,NaN,NaN,NaN,NaN,1.0
700,Wolford AG,NaN,NaN,NaN,NaN,NaN,1.0

In [620]:
ScienceBasedDF = pd.read_csv("/home/nesma/Desktop/Hackathon/companies-taking-action.csv")
ScienceBasedDF.head()

,Company Name,ISIN,Target Qualification,SME?,Business ambitions 1.5,Country,Region,Sector,Status,Date,Date Explanation,Target,Target Classification
0,A1 Telekom Austria Group,AT0000720008,1.5°C,NaN,NaN,Austria,Europe,Telecommunication Services,Targets Set,2020-08-31 23:00:00,NaN,A1 Telekom Austria Group commits to reduce abs...,The targets covering greenhouse gas emissions ...
1,A2A S.p.A.,IT0001233417,2°C,NaN,NaN,Italy,Europe,Electric Utilities and Independent Power Produ...,Targets Set,2020-03-01 00:00:00,NaN,Italian multi-utility company A2A S.p.A commit...,The targets covering greenhouse gas emissions ...
2,Aardvark Certification Ltd,NaN,Well-below 2°C,1.0,NaN,United Kingdom (UK),Europe,Professional Services,Targets Set,2020-06-30 23:00:00,NaN,Aardvark Certification Ltd. commits to reduce ...,The targets covering greenhouse gas emissions ...
3,AB InBev,BE0974293251,1.5°C,NaN,NaN,Belgium,Europe,Food and Beverage Processing,Targets Set,2018-03-01 00:00:00,NaN,Global Brewer AB InBev commits to reduce absol...,The targets covering greenhouse gas emissions ...
4,ABB,CH0012221716,NaN,NaN,NaN,Switzerland,Europe,Electrical Equipment and Machinery,Committed,2018-07-31 23:00:00,NaN,NaN,NaN

In [621]:
ScienceBasedDF = ScienceBasedDF[(ScienceBasedDF["Sector"] == "Textiles, Apparel,") | (ScienceBasedDF["Sector"] == "Retailing")]
ScienceBasedDF.reset_index(drop=True, inplace=True)
ScienceBasedDF.head()

,Company Name,ISIN,Target Qualification,SME?,Business ambitions 1.5,Country,Region,Sector,Status,Date,Date Explanation,Target,Target Classification
0,Adidas AG,DE000A1EWWW0,NaN,NaN,NaN,Germany,Europe,"Textiles, Apparel,",Committed,2020-02-01 00:00:00,NaN,NaN,NaN
1,ALDI Einkauf GmbH & Co. oHG (Aldi Nord),NaN,NaN,NaN,NaN,Germany,Europe,Retailing,Committed,2020-06-30 23:00:00,NaN,NaN,NaN
2,ALDI SOUTH Group,NaN,Well-below 2°C,NaN,NaN,Austria,Europe,Retailing,Targets Set,2020-06-30 23:00:00,NaN,\nALDI SOUTH Group commits to reduce absolute ...,The targets covering greenhouse gas emissions ...
3,ALDO Group Inc.,NaN,Well-below 2°C,NaN,NaN,Canada,North America,"Textiles, Apparel,",Targets Set,2019-08-31 23:00:00,NaN,\nCanadian shoe and accessories chain retailer...,The targets covering greenhouse gas emissions ...
4,Amazon,NaN,NaN,NaN,NaN,United States of America (USA),North America,Retailing,Committed,2020-05-31 23:00:00,NaN,NaN,NaN

In [622]:
ScienceBasedDF = ScienceBasedDF[["Company Name"]]
ScienceBasedDF = ScienceBasedDF.rename(columns={"Company Name": "company_name"})
ScienceBasedDF["ScienceBased"] = 1
ScienceBasedDF.head()

                              company_name  ScienceBased
0                                Adidas AG             1
1  ALDI Einkauf GmbH & Co. oHG (Aldi Nord)             1
2                         ALDI SOUTH Group             1
3                          ALDO Group Inc.             1
4                                   Amazon             1

In [623]:
Dotty_df = pd.merge(Dotty_df,ScienceBasedDF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
806,The Midcounties Co-operative,NaN,NaN,NaN,NaN,NaN,NaN,1.0
807,LVMH,NaN,NaN,NaN,NaN,NaN,NaN,1.0
808,Bergfreunde GmbH,NaN,NaN,NaN,NaN,NaN,NaN,1.0
809,Scottish Leather Group,NaN,NaN,NaN,NaN,NaN,NaN,1.0
810,Tediber,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [624]:
FTI_DF = pd.read_csv("/home/nesma/Desktop/Hackathon/fashion-transparency-index-2020-dataset.csv")
FTI_DF.head()

  Brand Name 2020 FINAL PERCENTAGES
0        H&M                 72.80%
1        C&A                 69.80%
2     Adidas                 69.40%
3     Reebok                 69.40%
4     Esprit                 64.20%

In [625]:
FTI_DF['2020 FINAL PERCENTAGES'] = FTI_DF['2020 FINAL PERCENTAGES'].str.split('.').str[0]

In [628]:
FTI_DF = FTI_DF.rename(columns={"Brand Name": "company_name","2020 FINAL PERCENTAGES":"FTI"})
FTI_DF.head()

  company_name FTI
0          H&M  72
1          C&A  69
2       Adidas  69
3       Reebok  69
4       Esprit  64

In [629]:
Dotty_df = pd.merge(Dotty_df,FTI_DF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1041,Elie Tahari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1042,Heilan Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1043,Jessica Simpson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1044,Mexx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1045,Youngor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [630]:
fashionPact_DF = pd.read_csv("/home/nesma/Desktop/Hackathon/fashionPact.csv")
fashionPact_DF.head()

   Unnamed: 0              0
0           0         ADIDAS
1           1          AIGLE
2           2     ALDO GROUP
3           3          ASICS
4           4  AUCHAN RETAIL

In [631]:
fashionPact_DF = fashionPact_DF.drop(["Unnamed: 0"],1)
fashionPact_DF = fashionPact_DF.rename(columns={"0": "company_name"})
fashionPact_DF["fashionPact"] = 1
fashionPact_DF.head()

    company_name  fashionPact
0         ADIDAS            1
1          AIGLE            1
2     ALDO GROUP            1
3          ASICS            1
4  AUCHAN RETAIL            1

In [632]:
Dotty_df = pd.merge(Dotty_df,fashionPact_DF,how='outer', on='company_name')
Dotty_df

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1102,SALVATORE FERRAGAMO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1103,SELFRIDGES GROUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1104,STELLA MCCARTNEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1105,TAPESTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1106,TENDAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [633]:
Dotty_df.to_csv('/home/nesma/Desktop/Hackathon/DottyDF.csv',index=False)

In [634]:
Dotty_DF = pd.read_csv("/home/nesma/Desktop/Hackathon/DottyDF.csv")

In [635]:
Dotty_DF.head()

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact
0,Synergy Clothing Inc,82.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Frank & Eileen,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Allbirds, Inc.",89.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bixbee,81.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solmate Socks,91.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [636]:
Dotty_DF['company_name'] = Dotty_DF['company_name'].str.lower()

In [637]:
Dotty_DF.columns

Index(['company_name', 'BcorporationScore', 'Climate', 'FairLabour',
       'FairTrade', 'Leather_working', 'bluesign', 'ScienceBased', 'FTI',
       'fashionPact'],
      dtype='object')

In [638]:
Dotty_DF[['company_name']] =Dotty_DF[['company_name']].apply(lambda x : x.str.strip()) #Remove spaces before or after the word

In [639]:
aggregation_functions = {'BcorporationScore': 'sum', 'Climate': 'sum', 'FairLabour': 'sum',
                         'FairTrade': 'sum', 'Leather_working': 'sum', 'bluesign': 'sum',
                         'ScienceBased': 'sum', 
                         'FTI': 'sum',
                         'fashionPact': 'sum'}
Dotty_DF_new = Dotty_DF.groupby(Dotty_DF['company_name']).aggregate(aggregation_functions)

In [640]:
Dotty_DF_new.reset_index(level=0, inplace=True)
Dotty_DF_new.to_csv("Dottynew.csv",index=False)

In [641]:
Dotty_DF_new = pd.read_csv("Dottynew.csv")
Dotty_DF_new

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact
0,a. p. møller-mærsk a/s,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,abahizi dushyigikirane ltd.,112.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abercrombie & fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0
3,about you,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,about you gmbh,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1019,zephyr-graf-x,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1020,zimba arts,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1021,zotter schokoladen manufaktur,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1022,én gry & sif,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1023,öko,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [642]:
testdf = pd.DataFrame(Dotty_DF_new.company_name.str.split(' ',1).tolist(),
                                 columns = ['firstname','secondname'])

In [643]:
testdf[1:12]

       firstname           secondname
1        abahizi  dushyigikirane ltd.
2    abercrombie              & fitch
3          about                  you
4          about             you gmbh
5          abury           collection
6      accompany                 None
7           acne              studios
8         adidas                 None
9         adidas                   ag
10  adidas-group                 None
11   aeropostale                 None

In [644]:
Dotty_DF_new_1= Dotty_DF_new.join(testdf)

In [645]:
Dotty_DF_new_1.head()

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact,firstname,secondname
0,a. p. møller-mærsk a/s,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,a.,p. møller-mærsk a/s
1,abahizi dushyigikirane ltd.,112.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abahizi,dushyigikirane ltd.
2,abercrombie & fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,abercrombie,& fitch
3,about you,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,about,you
4,about you gmbh,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,about,you gmbh

In [646]:
aggregation_functions = {'company_name':'first','BcorporationScore': 'sum', 'Climate': 'sum', 'FairLabour': 'sum',
                         'FairTrade': 'sum', 'Leather_working': 'sum', 'bluesign': 'sum',
                         'ScienceBased': 'sum', 
                         'FTI': 'sum',
                         'fashionPact': 'sum'}
Dotty_DF_new_1 = Dotty_DF_new_1.groupby(Dotty_DF_new_1['firstname']).aggregate(aggregation_functions)

In [647]:
Dotty_DF_new_1[1:15]

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact
firstname,,,,,,,,,,
abahizi,abahizi dushyigikirane ltd.,112.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abercrombie,abercrombie & fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0
about,about you,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
abury,abury collection,114.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
accompany,accompany,87.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
acne,acne studios,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
adidas,adidas,0.0,1.0,1.0,0.0,0.0,1.0,1.0,69.0,1.0
adidas-group,adidas-group,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
aeropostale,aeropostale,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
ahlens,ahlens ab,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
aigle,aigle,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
air,air & grace,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
airwair,airwair international limited,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
alchemia,alchemia,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [648]:
Dotty_DF_new[1:15]

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact
1,abahizi dushyigikirane ltd.,112.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abercrombie & fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0
3,about you,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,about you gmbh,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,abury collection,114.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,accompany,87.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,acne studios,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,adidas,0.0,0.0,1.0,0.0,0.0,1.0,0.0,69.0,1.0
9,adidas ag,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,adidas-group,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,aeropostale,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
12,ahlens ab,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,aigle,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,air & grace,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [649]:
Dotty_DF_new_1.to_csv("DottyDF_V1.csv",index="False")

In [661]:
Dotty_DF_new_1= pd.read_csv("DottyDF_V1.csv")

In [662]:
Dotty_DF_new_1["DottyRank"] = 0
for i in range(len(Dotty_DF_new_1)):
    if( Dotty_DF_new_1["FairTrade"][i]!=0.0 or Dotty_DF_new_1["BcorporationScore"][i]>=150 ):
        Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 10
    elif(Dotty_DF_new_1["BcorporationScore"][i]>=80 and Dotty_DF_new_1["BcorporationScore"][i]<=124):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 8 
            
    elif(Dotty_DF_new_1["BcorporationScore"][i]>=125 and Dotty_DF_new_1["BcorporationScore"][i]<=149):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 9 
    else:            
        if(Dotty_DF_new_1["Leather_working"][i]!=0.0):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 0.5 

        if(Dotty_DF_new_1["Climate"][i]!=0.0):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 0.5

        if(Dotty_DF_new_1["bluesign"][i]!=0.0):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1

        if(Dotty_DF_new_1["FairLabour"][i]!=0.0):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1 


        if(Dotty_DF_new_1["fashionPact"][i]!=0.0):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1


        if(Dotty_DF_new_1["FTI"][i]>=31 and Dotty_DF_new_1["FTI"][i]< 41  ):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2.5
            
        if(Dotty_DF_new_1["FTI"][i]>= 41 and Dotty_DF_new_1["FTI"][i]< 51  ):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2

        if(Dotty_DF_new_1["FTI"][i]>= 51 and Dotty_DF_new_1["FTI"][i]< 61  ):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2.5
            
        if(Dotty_DF_new_1["FTI"][i]>= 61 and Dotty_DF_new_1["FTI"][i]< 71  ):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 3
            
        if(Dotty_DF_new_1["FTI"][i]>= 71 and Dotty_DF_new_1["FTI"][i]< 80  ):
            Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 3.5

<ipython-input-662-54a250b08c42>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 0.5
<ipython-input-662-54a250b08c42>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 8
<ipython-input-662-54a250b08c42>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 0.5
<ipython-input-662-54a250b08c42>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1
<ipython-input-662-54a250b08c42>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1
<ipython-input-662-54a250b08c42>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 1
<ipython-input-662-54a250b08c42>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 3
<ipython-input-662-54a250b08c42>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 10
<ipython-input-662-54a250b08c42>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2.5
<ipython-input-662-54a250b08c42>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2.5
<ipython-input-662-54a250b08c42>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 2
<ipython-input-662-54a250b08c42>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 9
<ipython-input-662-54a250b08c42>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dotty_DF_new_1["DottyRank"][i] = Dotty_DF_new_1["DottyRank"][i] + 3.5

In [663]:
Dotty_DF_new_1 =Dotty_DF_new_1.drop(["firstname"],1)

In [664]:
Dotty_DF_new_1.DottyRank.unique()

array([ 0,  8,  6,  1, 10,  2,  4,  9,  3])

In [666]:
Dotty_DF_new_1.to_csv("DottyRank.csv",index=False)

In [665]:
Dotty_DF_new_1

,company_name,BcorporationScore,Climate,FairLabour,FairTrade,Leather_working,bluesign,ScienceBased,FTI,fashionPact,DottyRank
0,a. p. møller-mærsk a/s,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,abahizi dushyigikirane ltd.,112.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
2,abercrombie & fitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0
3,about you,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
4,abury collection,114.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...
851,zephyr-graf-x,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
852,zimba arts,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10
853,zotter schokoladen manufaktur,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10
854,én gry & sif,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10
855,öko,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10